@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="child" class="bigType">
Robert W. Brady, Jr. is the author of 'The Fovean Chronicles.'<img id="IMG1" align="right" height="250"
        src="/images/Gandalf_Bob_Hug2.jpg" alt="Bob and Gandalf" /><br />
    <br />
    Born in Connecticut in 1964, he graduated from University of Connecticut in 1986.<br />
    <br />
    He worked his way through college as a construction worker, an infant swimming instructor,
    a bartender, a waiter, a secretary, the manager of a dry cleaning store a security
    guard and a model.
    <br />
    <br />
    While in college, he began the first version of the 'The Fovean Chronicles.'<br />
    <br />
    After college, he lasted exactly three months in the insurance industry as an Assistant
    Annuities Analyst, and then enlisted in the Naval Nuclear Power Program.<br />
    <br />
    He served in the Navy from 1987 - 1994, receiving the Navy Achievement Medal, the
    Armed Forces Expeditionary Medal, the Southeast Asia Service Medal, and Good Conduct
    Medal during the Gulf War. He was certified as an Enlisted Surface Warfare Specialist,
    a Reactor Operator, a Radiological Controls Shift Supervisor and achieved a rank
    of Petty Officer First Class while serving onboard the USS Truxtun, CGN-35 and the
    USS Cape Cod, AD-43.
    <br />
    <br />
    <img height="250" alt="Bob and Cat" align="left" src="/images/Bob_Cat.jpg" />He has two children, Billy and Jennifer. He and both of his children are born on
    the same day of different months.<br />Billy also served in the US Navy, following in his father's footsteps.<br />
&nbsp;<br />
    Since leaving the Navy, he's been in sales, pest control, auto repair and .Net programming.
    He ran his own company specializing in add-on software and then sold it to focus
    more on his writing.<br />
    <br />
    He's very involved in animal rescue, and has two dogs, a cat and several horses which
    he's rescued and rehabilitated.<br />
    <br />
    Although born in Connecticut, he has lived in Orlando, FL; Bremerton, WA; San Diego, CA; and then for the last fourteen 
    years back in Florida.  He currently resides on a horse farm in Tennessee.
</div>
