
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="child" class="centerDiv">
        <h2>Something Went Wrong!</h2>
        <p>
            Our Uman-Chi web developer is going to hear about this!<br />
        </p>
        <p>
            You'll be contacted right away with a solution
        </p>
    </div>

