@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var order = 0;
    var viewportheight;
    var viewportwidth;
    var lastObj;
    var imgLeft;
    var imgTop;

    $(document).ready(function () {
        $('#btnSumClose').click(function () {
            $('#divSum').hide();
        });
        //book links
        $('#Est').click(function () {
            window.location = "../Books/Indomitus_Est";
        });
        $('#Vivat').click(function () {
            window.location = "../Books/Indomitus_Vivat";
        });
        $('#Oriens').click(function () {
            window.location = "../Books/Indomitus_Oriens";
        });
        $('#Sum').click(function () {
            window.location = "../Books/Indomitus_Sum"
        });
        $('#Dad').click(function () {
            window.location = "../Books/Intermission"
        });
        $('#Not').click(function () {
            window.location = "../Books/Intermission"
        });
        $('#Prod').click(function () {
            window.location = "../Books/Intermission"
        });
        $('#Semper').click(function () {
            window.location = "../Books/Semper_Indomitus"
        });
        $('#img1').click(function () {
            window.location = "Home/Special_Offer";
        })
        var scr = $('#child').width();
        var leftMar = (scr - 835) / 2;
        $('.bookRibbon').css('marginLeft', leftMar + 'px');
        if (leftMar < 100)
            leftMar = 100;
        $('#divSum').css({ 'right': 5 + 'px', 'top': 400 + 'px', 'width': leftMar + 'px' }).draggable().resizable();
    });

</script>

<div id="child" class="maximize">
    <ol class="bookRibbon">
        <li>
            <img id="Est" src="~/Images/IndomitusEst.jpg" />
        </li>
        <li>
            <img id="Vivat" src="~/Images/VivatCover.png" />
        </li>
        <li>
            <img id="Oriens" src="~/Images/OriensCover.png" />
        </li>
        <li>
            <img id="Sum" src="~/Images/IndomitusSumCover.jpg" />
        </li>
        <li>
            <img id="Dad" src="~/Images/DaddysGirlCover.png" />
        </li>
        <li>
            <img id="Not" src="~/Images/Not-Your-Cover.png" />
        </li>
        <li>
            <img id="Prod" src="~/Images/ProdigalSon.png" />
        </li>
        <li>
            <img id="Semper" src="~/Images/Semper.png" />
        </li>
    </ol>
    <div id="contentIndex">
        <p>You've arrived at the home of the Fovean Chronicles.  This is the story of a man from our world who finds himself in another where magic is real and technology is a thing of fantasy.  This is a swords and sandals, wizards and warriors, down and dirty type of adventure, brought to you in the form of e-novels, Kindle, Nook and soft cover.</p>
        <p>In a void between realities, the Fovean god War finds the dying shards of Anubis and offers him the power to return to former glory, in return for a champion for War's cause. War's instrument must be a heartless warrior willing to represent the darkest of the dark gods. Anubis scours Earth for the one suited to War's terrible purpose.</p>
        <p>Randy Morden knows nothing of this. Anubis finds him as a child who won't be bullied just because he's outnumbered. He molds the child to a dour man through trials and disappointments, through set-backs both fair and unfair. When the trials are complete, he trades Randy to the god War without a thought or word, leaving Randy to survive in a foreign land where armed men rule through the strength of their steel and nobles scheme for power.</p>
        <p>All Randy has to drive him is his terror of the wrath of War. Randy fights to stay alive as a stranger in a strange land, where even the rules aren't known to him.</p>
        <p>Read of Uman and Dwarves, long-lived Uman-Chi and free-roving Men.  The adventures of Randy Morden and of those who live in the world he affected, their loves and losses, their triumps and their sacrifices will stay with you long after the books are finished.</p>
    </div>
    <div class="centerDiv" id="divSum">
        <img src="~/Images/close.jpg" class="img2" id="btnSumClose" />
        <ul class="adv">
            <li>
                <img class="indexPic" id="img1" src="~/Images/specialOffer.png" />
            </li>
            <li>
                <div>
                    <p>How would you like a personalized, signed copy of <i> Indomitus Est?</i>!</p>
                    <p>Click the image to find out more!</p>
                </div>
            </li>
        </ul>

    </div>
</div>
