
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            if ($('#txtEmail').val().length < 5) {
                alert('A valid email is required');
                return false;
            }
            if ($('#txtName').val().length < 5) {
                alert('A valid name is required');
                return false;
            }
            $.ajax({
                url: '@Url.Action("SaveData", "Home")',
                data: { email: $('#txtEmail').val(), name: $('#txtName').val() },
                dataType: 'json',
                global: false,
                success: function (data) {
                    window.open('PaymentWithPaypal', "_blank");
                },
                error: function (jqXHR) {
                    $("html").html(jqXHR.responseText);
                }
            });
            
        })
    });
</script>


<div id="child">
    <h2>A Special Offer from the Author of the Fovean Chronicles</h2>
    <div class="boxedSection">

        <p>
            How would you like a personalized, signed copy of <i>Indomitus Est</i>, the first book in the Fovean Chronicles?
        </p>
        <p>
            Not only that, how would you like it for LESS than you could buy it for, online or in a store?
        </p>
        <p>
            <a href="Contact">Contact me</a> now, put 'I want a book' in the subject, if you need more information or:
        </p>
        <p>
            Enter your name and email address below to complete your eligibility:
        </p>
    </div>
    <p>
        <ol class="orderList">
            <li>
                <ul>
                    <li class="spaced">
                        Email Address:
                    </li>
                    <li>
                        <input type="text" id="txtEmail" maxlength="125" />
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="spaced">
                        Name:
                    </li>
                    <li>
                        <input type="text" id="txtName" maxlength="125" />
                    </li>
                    <li>
                        <input type="button" class="buttonClass" value="Submit" id="btnSubmit" />
                    </li>
                </ul>
            </li>
        </ol>
    </p>

</div>