
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="child" class="centerDiv">
        <h2>That's all it takes</h2>
        <p>
            The Emperor's new postal system is scrambling to get your signed copy of <i>Indomitus Est</i> to you know.
        </p>
        <p>
            This can take as long as two weeks (we're crossing dimensions here!).  If you haven't heard from us by then, give a shout!
        </p>
    </div>

