@{
    ViewBag.Title = "FiftyReasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inWhite">
<h2>A copy of The Fifty Reasons Why It's Great to be a Man has been emailed to you</h2>
    </div>
