@model SwordsAndSorcery_2020.ModelTypes.UserType
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BeginForm("ProcessPassword", "Access"){ 
<div class="plainBack">
    <h2>So You Forgot Your Password</h2>
    @Html.HiddenFor(m => m.UserID)
    <ol class="simpleList">
        <li>
            <ul>
                <li>
                    Your Email Address:
                </li>
                <li>
                    @Html.TextBoxFor(m => m.Email)
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    Your User Name:
                </li>
                <li>
                    @Html.TextBoxFor(m => m.UserName)
                </li>
            </ul>
        </li>
        <li>
            <input type="submit" class="buttonClass float-right" value="Submit" />
        </li>
    </ol>
</div>
}