@{
    ViewBag.Title = "The Fovean Chronicles Intermission Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#prodigalSon').click(function () {
            window.open('http://www.amazon.com/Prodigal-Son-Fovean-Chronicles-Book-ebook/dp/B00VGE0CSO');
        });
        $('#daddysGirl').click(function () {
            window.open('http://www.amazon.com/Daddys-Girl-Fovean-Chronicles-Book-ebook/dp/B00VGE0ZSQ/');
        });
        $('#notYourCover').click(function () {
            window.open('http://www.amazon.com/Fathers-Eldadorian-Empire-Fovean-Chronicles-ebook/dp/B00VGEKAFE');
        });
    });
</script>
<div class="whiteDisplay">
    <h2>The Fovean Chronicles Will Now Take a Short, Literary Intermission</h2>
    <p>
        The Intermission consists of three short books, each occurring at the same time, at the end of Indomitus Sum.
    </p>
    <div class="storyDisplay">
        <img src="~/Images/DaddysGirlCover.png" class="pointer" id="daddysGirl" /><p>
        Book One of the Intermission:  Lee Mordetur faced the unimaginable might of the thousand-year-old King of Trenbon and was thought lost in a void.  But was she?  Daddy's 
        girl is her story - a tale of the strength a young girl finds in herself, not as a Princess but as a woman and a budding sorceress.  With the help of the man she once
        loved, Lee travels through a forbidding land, through hostile armies and across dangerous terrain in an attempt to find her way home.</p>
    </div>
    <div class="storyDisplay">
        <img src="~/Images/Not-Your-Cover.png" id="notYourCover" class="pointer" /><p>
        Book Two of the Intermission: When old King Glennen died, Rancor Mordetur stepped up to the throne, and he made Eldador into an Empire.  But Glennen had a son, Tartan,
        who was not named King, who tried to rise to the level of the new King and who, in the opinion of many failed.  He spent the next ten years as a Duke in southern
        Angador, raising horses, trying to be a good husband and a loyal Eldadorian.  Now Rancor Mordetur has left the throne, and since Lee has left, it's up to Tartan to fill 
        it.  However, there are many people with different uses for a King's son, and enemies are everywhere.  Can Tartan Stowe protect the Empire, or will he take it for 
        his own.</p>
    </div>
    <div class="storyDisplay margBottom">
        <img src="~/Images/ProdigalSon.png" id="prodigalSon" class="pointer" /><p>
        Book Three of the Intermission: When Rancor came to Fovea, he met a very nice girl, the daughter of a brewer, and she fell in love.  Unfortunately, it was a love unrequited, 
        and the product was a strong son named Eric, a Volkhydran in his heart, the first son of the Emperor.  But the girl, Aileen, never told Eric of his heritage, not
        until the son was destined to face the father in battle, and the mother gave up her life to save him.  On her death bed she revealed the truth to Eric, and now a 
        boy of almost fifteen must decide how to deal with a legacy that he isn't even sure he has, and a vengeance that he isn't sure he wants.<br /><br />The end of this
        book will leave your mouth open in surprise!</p>
    </div>
</div>